.header {
	background: url(../img/Header-bg.jpg) top no-repeat;
}

.top-header {
	&__content {
		display: flex;
		// align-items: center;
	}
	&__column {
		flex: 0 1 50%;
		&:nth-child(2) {
			flex: 0 0 190px;
			padding-top: 25px;
			text-align: center;
		}
	}
}
